.App {
  height: 100vh;
  width: 100vw;
}

.toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 95vh;
  background-color: ghostwhite;
}

.component.class {
  background-color: lightsteelblue;
}

.component h2 {
  font-size: 2rem;

}

.counter-holder {
  display: flex;
}

.counter-holder * {
  margin: 1rem;
}

.counter-holder p {
  font-size: 1.5rem;
}

.inputInfo {
  display: flex;
}

.inputHolder {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.inputHolder .MuiFormControl-root.MuiTextField-root {
  background-color: thistle;
  margin: 1rem;
}