.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: ghostwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: slateblue;
}

.App-header button {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: ghostwhite;
  color: slateblue;
  font-weight: bold;
  margin: 1rem;
}

.App-header .buttonSection {
  display: flex;
}

.App-header button:hover {
  background-color: slateblue;
  color: ghostwhite;
}

.component {
  display: flex;
  flex-direction: column;
}

.component input {
  font-size: 1.5rem;
  padding: .5rem;
  color: slateblue;
  font-weight: bold;
  border-radius: .5rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
